
@keyframes bodyt{
    0%{
      opacity: 0.5;
      /* transform: rotateX(-1deg); */
    }
    
    100%{
      opacity: 1;
      /* transform: rotateX(0); */
    }
    
  }
  body{
      animation:  bodyt 0.75s;
      font-family: Body,Quicksand,sans-serif;
  }
  input[type=button]{
    cursor: pointer;
  }