/*
* This is not complete design, it needed to be fixed, especially rwd.
*/

/* basic style */
body {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-family: 'Roboto ', sans-serif;
  font-size: 14px;
  color: #212121;
  line-height: 1.4;
  /* background-color: #F9F9F9; */
  background-image: url(../img/train-backround.jpeg);
  background-size: cover;
  
}

/* .container {
  margin: 0 auto;
} */



/* navbar */
.navbar {
  padding: 1px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background-color: #FF4B2B;
}

.logo{
  padding-left: 40px;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  display: inline-block;
  margin: 0;
}
.nav {
  display: inline-block;
  margin: 0;
}

.navbar3{
  padding-bottom: 10px;
}

/* nav links */
.nav {
  font-size: large;
  padding: 0;
  padding-right: 40px; 
  margin: 0;
  list-style: none;
}


.nav li {
  display: inline-block;
  margin-left: 40px;
}

.navbar a {
  color: #000;
  text-decoration: none;
 
}

.navbar a:hover {
  color: #DDD;
}

/* if you want pull right nav links */
.nav-right {
  float: right;
  line-height: 35px;
  
}



/* responsive */
@media screen and (max-width: 677px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container {
  font-size: larger;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	/* position: relative; */
	overflow: hidden;
	width: 480px;
  margin: 0 auto;
	/* max-width: 100%;
	min-height: 480px; */
	/* display: inline-flex; */
}

form {
  background-color: none;
  font-size: large;
  padding-top: 120px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input,select {
	background-color: rgb(235, 227, 227);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  border-radius: 10px;
  font-size: 14px; 
  font-weight: bold;
}


input[type="submit"]{
  background-color: #FF4B2B;
  margin-bottom: 30px;
}
