body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 1.01rem;
}
li:hover{
    : #fff;
    cursor: pointer;
}
.menubar {
  margin-left: 38%;
  display: inline-block;
  
}
button:hover{
    cursor: pointer;
}
.nav {
  margin: 0;
  padding: 0;

  background-: aqua;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  background-: transparent;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  : black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  : #fff;
}
.main{
    background-: #FF4B2B;
    margin: 10px;
    height: 600px;
    width: 1450px;
    position: relative;
    border: 1px solid black;
  }
  .left{
      width: 25%;
      height: 97%;
      background-: bisque;
      border-radius: 20px;
      margin: 10px;
      display: block;
      position: absolute;
      border: 1px solid black;
  }
  .right{
    border: 1px solid black;
      width: 73%;
      height: 97%;
      background-: blue;
      border-radius: 20px;
      margin: 10px;
      display: flex;
      float: right;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  .sub-main{
    border: 1px solid black;
    border-radius: 20px;
    background-: aqua;
    height: 95%;
    margin: 10px;
    width: 95%;
    display: flex;
    flex-direction: column  ;
}
img{
    overflow: hidden;
    margin: 0   ;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.submenu-btn{
    align-items: center;
    text-align: center;
    justify-content: center ;
    background-: transparent;
    border: 0.1px dashed black;
    width: 75%;
    font-size: large;
    font-weight: bold;
    height: 50px;
    margin: 5px 45px;
}
.submenu-btn:hover{
    : rgb(78, 64, 201);
    cursor: pointer;
    border: 1px solid black;
    transition: all 1s;
}
.photo{
    height: 27%;
    width: 44%;
    margin: 28%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
    background-: #FF4B2B;
    border: dashed 3px black;

}
.profile{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-: aqua;
    border: 1px solid black;
    height: 45%;
    margin: 10px;
    width: 70.5%;
    position: absolute;
    
  }
  .que{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    border: 1px solid black;
    margin: 10px;
    
    position: relative;
  }
  .ans{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    margin-left: 30%;
    padding-top: 22px;
    float: left;
    
  }
 .ans span{
  border: 1px solid black;
      margin : 3.8%;
      
  }
 .que span{
    margin : 0.8%;
    
}

  .profile2{
    border: 1px solid black;
  border-radius: 20px;
    background-: rgb(131, 57, 214);
    height: 45%;
    margin: 10px;
    width: 71.5%;
    display: block;
    margin-top: 21%;
    width: 70.5%;
    position: absolute;
  }
  .profile2 .que{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 20px;
    
    height: 95%;
    margin: 10px;
    position: absolute;
  }
  .profile2 .ans{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 20px;
    
    height: 95%;
    margin: 10px;
    position: absolute;
    margin-left: 30%;
    margin-top: 4.5%;
  }
  .ans a{
    width: 40%;
    : black;
    font-weight: bold;
  }
  .show{
    background-: #FF4B2B;
    border-radius: 20px;
    margin-left: 0%;
    margin-right: 0%; 
    margin-top: 1%;
    margin-bottom : 1%;
    height: 160px;
    border: 1px solid black;
    width: 95%;
    padding: 2%;
    display: inline-block;
  }
  .date{
    margin-bottom: 50px;
  }
  .ul{
    margin: 0;
    padding: 0%;
  }