@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: bold;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    /* background-color: #b3e5fc; */
    background-image: url(../img/train-backround.jpeg); 
    background-size: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto ', sans-serif;
}
.logo{
    /* display: flex;
    background-color: #FF4B2B;
    font-size: 40px;
    justify-content: center;
    padding: 10px; */
    display: flex;
    background-color: #ff4b2b;
    /* padding-left: 20px; */
    /* margin-left: 0px;
    margin-top: 20px; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    display: inline-block;
    width: 100%;
}
.menu__group{
    display: flex;
    padding-left: 80%;
    font-size: 20px;
    display: inline-block;
    /* background-color: rgb(235, 232, 232); */
}
.bill,.bill2{
    align-items: center;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 400px;
    width: 40%;
    /* float: left; */
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 30px;
    z-index: 0;
    /* border: #00b0ff solid 2px; */
    border-radius: 20px;
    padding-bottom: 35px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}
.minibill{
    display: inline-block;
    position: relative;
    text-align: left;
    height: 400px;
    width: 90%;
    /* margin-left: 5%; */
    margin-top: 5%;
}
.lispan{
    padding: 20px;
    padding-top: 20px;
}
.ans{
    float: right;
}
.line{
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.submit{
    color: white;
}
li{
    list-style: none;
}
.bill2{
    height: 250px;
    width: 500px;
}

.print{
    margin-left: 45%;
    margin-top:4%;
    background-color: #FF4B2B;
    /* border:#00b0ff solid 2px; */
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.passenger{
    margin-top: 40px;
    font-size: 25px;
    color: white;
    background-color: #FF4B2B;
}

.ticket{
    margin-top: 40px;
    font-size: 25px;
    color: white;
    background-color: #FF4B2B;
}
